 <form action="/action_page.php">
  If user has these tags: <input type="text" name="fname"> <br>
  <br>
  then grant this badge: <input type="text" name="lname"><br>
  <input type="submit" value="Submit">
</form> 